# IDE & System
.DS_Store
.vscode/
*.log

# Nexus-Code Dependencies
**/node_modules/
**/out/
**/venv/
**/__pycache__/
*.pyc

# Packaging & Build
*.vsix
nexus-code/extension/daemon/
dist/
build/
